python class

#  Variable

variable_name=value

In [ ]:
x=19
y=20

In [ ]:
z=x+y

In [ ]:
z

39

In [ ]:
name = 'shoes'

In [ ]:
name

'shoes'

## data type in python

integer

float

string

character

boolean

# integer

In [ ]:
t = 6

In [ ]:
type(t)

int

# decimal number (float)

In [ ]:
area=3.14

In [ ]:
type(area)

float

# string (str)

In [ ]:
student="John"

In [ ]:
type(student)

str

# character

In [ ]:
grade='B+'

In [ ]:
type(grade)

str

# Boolean

In [ ]:
choice=True

In [ ]:
type(choice)

bool

# Display data

In [ ]:
print(8)

8

In [ ]:
print('hello world')

hello world

# display a word and figures at once

In [ ]:
print('the area is:', area)

the area is: 3.14

# Input data in python

In [ ]:
name = input('what is your name ')

what is your name tony

In [ ]:
print('My name is:',name)

My name is: tony

# Logical operator

- addition

- substraction

- division

- multiplication

- modulus

#  addition

In [ ]:
grade_math = int(input("enter grade math "))
grade_physics = int(input("enter grade physics "))
average_gradde = (grade_math+grade_physics)/2
print("my average grade is ",average_gradde)

enter grade math 80
enter grade physics 90
my average grade is  85.0

# conditional statements

if else statement

In [ ]:
number = int(input('enter a number:'))
if (number % 2 ==1):
  print("odd number")
else:
    print("even number")

enter a number:46
even number

# Data structures

- List : is a collection of mutabe items    of different data type

declare name_of_variable =[item1,item2,item2, .......]

In [ ]:
fruits=['banana','mango','orange',67,'A',True]

In [ ]:
fruits[0]

'banana'

In [ ]:
fruits[1]

'mango'

In [ ]:
fruits[2]

'orange'

In [ ]:
fruits[5]

True

ADD a new items in the list

In [ ]:
fruits.append('car')

In [ ]:
fruits

['banana', 'mango', 'orange', 67, 'A', True, 'car']

- print each item in the list we are going to use a loop

In [ ]:
fruits.index('car')

6

In [ ]:
fruits.index(True)

5

- Remove a item in the list

In [ ]:
fruits.remove('car')

In [ ]:
fruits

['banana', 'mango', 'orange', 67, 'A', True]

- Tuple is similar to list but it is not mutable

In [ ]:
grade = ('math',87,'physics',50)

In [ ]:
grade

('math', 87, 'physics', 50)

In [ ]:
type(grade)

tuple

- Dictionary  a collection of key pair items

In [ ]:
grade = {"math":82,'physics':85, 'programming':74}

In [ ]:
grade['programming']

74

In [ ]:
grade['physics']

85

csv, excel file , python library called pandas (python for data analysis)

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("/content/customers-100000.csv")

In [ ]:
data.head(10)

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,ffeCAb7AbcB0f07,Jared,Jarvis,Sanchez-Fletcher,Hatfieldshire,Eritrea,274.188.8773x41185,001-215-760-4642x969,gabriellehartman@benjamin.com,2021-11-11,https://www.mccarthy.info/
1,2,b687FfC4F1600eC,Marie,Malone,Mckay PLC,Robertsonburgh,Botswana,283-236-9529,(189)129-8356x63741,kstafford@sexton.com,2021-05-14,http://www.reynolds.com/
2,3,9FF9ACbc69dcF9c,Elijah,Barrera,Marks and Sons,Kimbury,Barbados,8252703789,459-916-7241x0909,jeanettecross@brown.com,2021-03-17,https://neal.com/
3,4,b49edDB1295FF6E,Sheryl,Montgomery,"Kirby, Vaughn and Sanders",Briannaview,Antarctica (the territory South of 60 deg S),425.475.3586,(392)819-9063,thomassierra@barrett.com,2020-09-23,https://www.powell-bryan.com/
4,5,3dcCbFEB17CCf2E,Jeremy,Houston,Lester-Manning,South Brianna,Micronesia,+1-223-666-5313x4530,252-488-3850x692,rubenwatkins@jacobs-wallace.info,2020-09-18,https://www.carrillo.com/
5,6,75bEe1B33E517AF,Frank,Villarreal,"Craig, Dennis and Maddox",Reidtown,Panama,+1-165-340-7100x44099,(847)867-2795x043,gmurillo@perez.com,2022-01-13,https://patel.org/
6,7,CB8b29B8Fbbbe58,Rickey,Fox,"Benson, Gray and Fitzpatrick",Mcintoshberg,United States of America,426.446.3838,437.476.4705,melissabenitez@le.info,2021-11-05,http://www.irwin-donaldson.com/
7,8,56b3cEA1E6A49F1,Barry,Ware,Glenn Ltd,Lake Pedrofort,American Samoa,101-419-0208x043,931.542.3115x98926,brent60@lopez.com,2022-05-12,https://www.bean.biz/
8,9,f9443f5f6AF0Da0,Carl,Mcdowell,Davila-Leach,Petersbury,Saint Vincent and the Grenadines,+1-740-392-0511,+1-218-891-5403x7270,toddharris@lowery-rosario.biz,2022-05-28,https://www.burnett.com/
9,10,C99b63E0d92C565,Pam,Dalton,Mckenzie Ltd,Hillside,Tanzania,0389689232,344-952-1181x6911,carolbanks@vang-stafford.com,2022-03-04,http://www.maxwell-bradford.com/

- loops

In [ ]:
fruits

['banana', 'mango', 'orange', 67, 'A', True]

In [ ]:
for i in fruits:
  print(i)

banana
mango
orange
67
A
True

In [ ]:
for i ,x in enumerate(fruits):
  print(f'{i} {x}')

0 banana
1 mango
2 orange
3 67
4 A
5 True

- while

In [ ]:
i =0
while(i<5):
  print("hello world ")
  i=i+1

hello world
hello world
hello world
hello world
hello world

- Function

 Function which does not take a variable and does not return a value

In [ ]:
def addition():
  x = float(input("enter value of x:"))
  y= float(input("enter value of y:"))
  z=x+y
  print(z)

In [ ]:
addition()

enter value of x:12.5
enter value of y:15
27.5

- Function which  take a variables and does not return a value

In [ ]:
def addition(t,k):
  x = float(input(t))
  y= float(input(k))
  z=x+y
  print(z)

In [ ]:
addition("enter the value of x", "enter the value of y")

enter the value of x45
enter the value of y10
55.0

Function which take a variables and return a value

In [1]:
def addition(t,k):
  x = float(input(t))
  y= float(input(k))
  z=x+y
  return z

In [3]:
result= addition("enter value of X: ", "ener value of y: ")

enter value of X: 18
ener value of y: 17

In [4]:
print(result)

35.0

Function which does not take a variable and return a value

In [5]:
def addition():
  x = float(input("enter X: "))
  y= float(input("enter Y "))
  z=x+y
  return z

In [6]:
result= addition()

enter X: 45
enter Y 10

In [7]:
print(result)

55.0